extends ../../template/master.pug

block content
	div(style='float : left;')
		h1.title(style='color: green;') Search
	div(style='float : right;')
		a(href='/home')
			button.button(type='button')
				strong(style='color: green;') Back to HOME
	div
		br
		br
		hr
		form(method='POST' action='/search')
			input.input(type='number' name='id' placeholder='Enter the ID of the Car')
			input.input(type='submit' style='color: green;' value='Search')
	div
		form(method='POST' action='/update')
			each car in cars
				strong(style='color: green')
					li= `ID : ${car.id}`
				br
				strong(style='color: green')
					li= `Make : ${car.make}`
				br
				strong(style='color: green')
					li= `Model : ${car.model}`
				br
				strong(style='color: green')
					li= `Year : ${car.year}`
				br
				strong(style='color: green')
					li= `Plate Number : ${car.plnum}`
				br
				strong(style='color: green')
					li= `Condition : ${car.cond}`
				br
